.bg {
    background-image: url(../../public/images/bg.jpg);
    height:100vh;
    width:100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.login{
    font-size: 300%;
    margin:0 0 10% 0;
}
.logo{
    margin-top:30%;
    width:100%;
}
input.form-control::placeholder{
    opacity:0.8;
}
input{
    opacity: 0.8;
}
label{
    font-size:102%;
}