.sidebar {
    overflow: hidden;
    position: fixed;
    background-color: #003248;
    height: 100%;
    font-size: 16px;
}

.sidebar:hover {
    overflow-y: auto;
}

.sidebar-link {
    color:white;
    text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:active {
    color:white;
    background-color: #0f445b;
}

.sidebar-item
{
    /* border:1px solid black; */
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.sidebar-item:hover, .sidebar-item:focus {
    background-color: #0f445b;
}


.sidebar-icon {
    flex: 1;
}
.sidebar-text {
    flex: 4;
}